<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.personal.takaichi.mybookshelf.infrastructure.repository.mapper.BookRecordMapper">

    <select id="selectAll" resultType="jp.personal.takaichi.mybookshelf.infrastructure.repository.table.BookRecord">
        SELECT * FROM book_records
    </select>

    <select id="selectById" resultType="jp.personal.takaichi.mybookshelf.infrastructure.repository.table.BookRecord">
        SELECT * FROM book_records
        WHERE id = #{id}
    </select>

</mapper>

